body {
  font-family: 'Lato', sans-serif;
  background-color: #8eaebd !important;
} 

.well {
  background-color: #f5f5f5;
}

.btn-primary {
  background-color: #cf6766;
  border-color: #cf6766;
}

.btn-primary:hover {
  background-color: #df7776;
  border-color: #df7776;
}

.nav.navbar-nav li a {
  color: white;
}

th, tr {
  text-align: center;
}


 #prompt_textNOT_USED{
  color: black; 
  font-family: "Courier";
  font-size: 20px;
  white-space: normal;
  overflow: auto;
  width: 90%;
  animation: type 2s steps(30, end); 
  font-weight: bold;
  overflow-wrap:break-word;
  word-break: break-all;
  word-wrap: break-word;

}

 #prompt_text{
  color: black; 
  font-family: "Courier";
  font-size: 20px;
  white-space: normal;
  overflow: auto;
  width: 100%;
  
  font-weight: bold;
}

@keyframes type{ 
   from {width: 0;}
} 

.loading-bar {
    display:    none;
    position:   absolute;
    top:        78%;
    left:       70%;
    /*z-index:    100;*/
    height:     10%;
    width:      10%;
    background: rgba( 255, 255, 255, 0 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .loading-bar {
    display: block;
}
