<!DOCTYPE html>
<head>

	<title>BillionAIre</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BilionAIre</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/game/info">What is this about?</a></li>
    </ul>
  </div>
</nav>
<div class="col-md-1">
</div>
<div class="row">
<div class="col-md-2">
<b><h3>MARKET CONDITIONS </h3></b>
</br>
</br>

<form id="simulationData">
	<div class="form-group">
		<label for="mintip"> Initial Minimum tip (%) </label>
		
		  <select name="mintip" id="mintip" class="1-100">
		  </select>
	</div>
	<div class="form-group">
		<label for="n_buyers"> Number of Buyers </label>
		  <select name="n_buyers" id="n_buyers" >
		    <option>1</option>
		    <option>10</option>
		    <option>50</option>
		    <option>100</option>
		    <option>200</option>
		    <option>300</option>
		    <option>400</option>
		    <option>500</option>
		    <option>600</option>
		    <option>1000</option>
		    <option>10000</option>
		  </select>
	</div>
	<div class="form-group">
		<label for="n_sellers"> Number of Sellers </label>
		  <select name="n_sellers" id="n_sellers">
		    <option>1</option>
		    <option>10</option>
		    <option>50</option>
		    <option>100</option>
		    <option>200</option>
		    <option>300</option>
		    <option>400</option>
		    <option>500</option>
		    <option>600</option>
		    <option>1000</option>
		    <option>10000</option>
		  </select>
	</div>
	<div class="form-group">
		<label form="price"> Initial Price </label>
		  <select name="price" class="1-100" id="price">
		  </select>
	</div>
	<script> $(function(){
    var $select = $(".1-100");
    for (i=1;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
});</script>
  	<input class="col-md-10" type="submit" value="Simulate">
</form>
</div>
</div>
<div class="col-md-4">
	<div class="container container-table" id="game-container" style="width:1000px;height:500px;border:3px solid #000;">
	This container will host a graphic representation of the simulation.
</div>
  

</div>
	

</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>