{% extends 'game/basic.html' %}

{% block custom_scripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% block title %} bAIv {% endblock %}

{% block body_block %}

<div class="container">


  <div class="row">
  <div id="game_prompt" class = "col-sm-5 col-md-6">
  <div class="well">
  <b>Scenario</b>
  </br>
  </br>
  <span id="prompt_text">
      {{scenario_text}}
  </span>
  

  </div>
  </div>
  <div id="game_result" class = "col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
  <div class="well" id="results_graph" style="min-width: 310px; height: 400px; margin: 0 auto">
  game_result


  </div>
  </div>
  </div>

  <div class="row">
  <div class ="col-sm-6 col-md-5 col-lg-6">
  <div class="well">

  <form action="/game/simulate" method="POST" id="input-form">
  {% csrf_token %}

  <div id="user_inputs" > </div>


     </br>


 </br>
  <input type="submit"  value="SIMULATE">  
 </form>

 </div>
  </div>
  <div id="game_data" class = "col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">
  <div class="well">

  game_data
    
  </div>
  </div>
  </div>

</div>




    
 	<script> 
   
   var questions_string = '['+'{% for input in inputs %} {"question": "{{input}}", "answers": "{{input.answers}}" }, {% endfor %}'+' ])'
   var questions_string = questions_string.split(",  ])")[0]+"]"
   var questions = JSON.parse(questions_string);
   showQuestions(questions);

  function showQuestions(questions){
    formDiv = document.getElementById("user_inputs");
    formDiv.innerHTML = "";
    for (question in questions){
   var questionDiv = document.createElement("div");
   questionDiv.innerHTML = questionDiv.innerHTML + "<b>" + questions[question].question + "</b></br>"
   questionDiv.id = "question-" + question;

   var answersDiv = document.createElement("select");
   answersDiv.form = "input-form";
   answers= questions[question].answers;
   answers=answers.split(", ")
   for (answer in answers){
    var opt = document.createElement("option");
    opt.textContent = answers[answer];
    opt.value = answers[answer];
    answersDiv.appendChild(opt);
   }
   questionDiv.appendChild(answersDiv);
   formDiv.appendChild(questionDiv);
}
   
  }

 $('#input-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!");
    data={"questions": questions, "scenario_id": '{{scenario_id}}',"order_n": '{{scenario_order_n}}'};
    for (question in questions){
      selector="#question-"+question + " :selected";
      data[questions[question].question] = $(selector).text()
      }

    simulate(data);
    
});


  function simulate(my_data) {
    console.log("Simulating...") // sanity check
    $.ajax({
        url : "/game/simulate", // the endpoint
        type : "POST", // http method
        data : my_data, // data sent with the post request

        // handle a successful response
        success : function(response) {
            //$('#post-text').val(''); // remove the value from the input
           // console.log(response); // log the returned json to the console
            console.log("success"); // another sanity check
            replaceValues(response);

        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
           
        }
    });
};

  function replaceValues(responseData){
    new_scenario_text = responseData['scenario_text'];
    questions = responseData['inputs'];
    questions = JSON.parse(questions)
    $("#prompt_text").text(new_scenario_text);

    for (question in questions){
      questions[question].question=questions[question].fields.question;
      questions[question].answers = questions[question].fields.answers
    $("#prompt_text").text(new_scenario_text);
    showQuestions(questions)
   }
  }

</script>

{% endblock %}

