{% extends 'game/basic.html' %}
{% block title %} bAIv {% endblock %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <center>
      <h1>Welcome to bAIv!</h1>
        <p class="lead"><b> bAiv </b> allows you simulate the evolution of players in a market. </p>
        <p> You will be selecting simulation parameters while learning about AI agents, mimicking real businesses and customers in the quest for their best strategy. </p>
        <h2> 
          <a type="button" class="btn btn-lg btn-primary" href="/game/play" >  START </a>
        </h2>
      <h1>
    </center>
  </div>

  <div class="row">
    <div  id="p_descript" class = "col-md-12">
      <div class="well" >
        <b><center>Description of Project </center></b>
        <br>
        <p>
          This website was designed as a visual tool to interact with a genetic algorithm simulation. 
          <br>
          With this project we set to take advantage of the tools provided by the field of artificial
          intelligence to simulate the complexity of an economic market, and attempt to predict its
          outcomes. We focus specifically on the food industry and question its economic rationality.
          <br>
          The genetic algorithm we built, attempts to construct a model of human behavior, based on a mix of observations and assumptions. 
          <br> 
          <br> 
          While this project is still at its early stage, we hope our work will be used to build tools to teach about and collect data on economic behavior, particularly when it deviates from rationality. A future version of this website will engage the user in immersive experiences and ask them to make decisions as if they were in the real world. It will also allow educators to design their own games and scenarios, to be played interactively, online, by their students.
          <br>
          <br>
          For now, sit back, and enjoy guessing the outcomes of the market, based on the parameters you choose! Look forward to our paper, discussing what we learned in the process of building this market model. Thank you.
        </p>
      </div>
    </div>
  </div>

{% endblock %}

