{% extends 'game/basic.html' %}
{% block title %} bAIv {% endblock %}


{% block custom_scripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/game/css/styles.css">
{% endblock %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% block body_block %}

<div class="container">

<div class="jumbotron">
        <center>
        <h1>Welcome to bAIv!</h1>
        <p class="lead"><b> bAiv </b> allows you simulate the evolution of players in a market. </p>
        <p> You will be selecting simulation parameters while learning about AI agents, mimicking real businesses and customers in the quest for their best strategy. </p>
        <h2> <a type="button" class="btn btn-lg btn-primary" href="/game/play" >  START </a></h2>
        </center>
      </div>

  <div class="row">
  <div  id="game_prompt" class = "col-md-12">
  <div class="well" >
  <b>Description of Project </b>
  
  <br>
  <br>
 
  </div>
  </div>
  </div>

{% endblock %}

